<header>
  <nav class="header">
    <ul class="nav">
      <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Bikes</a></li>
      <li><a href="https://github.com/planeswalker1">Best Buy</a></li>
      <li><a href="https://github.com/planeswalker1">Offers</a></li>
      <li><a href="https://github.com/planeswalker1">Accessories</a></li>
      <li><a href="https://github.com/planeswalker1">Contact</a></li>
      <li><a href="https://github.com/planeswalker1">About Us</a></li>
    </ul>
    <p id="show" class="responsive-open show">MENU</p>
  </nav>

  <div id="responsive" class="responsive">
    <p class="responsive-open">Close X</p>
    <ul class="nav">
      <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Bikes</a></li>
      <li><a href="https://github.com/planeswalker1">Best Buy</a></li>
      <li><a href="https://github.com/planeswalker1">Offers</a></li>
      <li><a href="https://github.com/planeswalker1">Accessories</a></li>
      <li><a href="https://github.com/planeswalker1">Contact</a></li>
      <li><a href="https://github.com/planeswalker1">About Us</a></li>
    </ul>
  </div>
</header>
